:root {
  --duration: 40s;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

section {
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: min(1092px, 90vw);
  min-width: 920px;
  height: min(620px, 90vh);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.illustration {
  position: relative;
  width: 480px;
  height: 620px;
}

.shadow {
  position: absolute;
  top: 4px;
  right: -4px;
  display: block;
  width: 480px;
  height: 620px;
  background-image: url('../assets/illus.svg');
  background-repeat: no-repeat;
  filter: blur(24px);
  opacity: 0.4;
  transform: translateZ(0);
  will-change: transform;
}

.base {
  position: absolute;
  top: 0;
  right: 0;
  width: 480px;
  height: 620px;
  background: url(../assets/illus-b.svg) no-repeat;
}

.waves {
  position: absolute;
  top: 320px;
  right: 120px;
  background: url(../assets/waves.svg) repeat;
  width: 240px;
  height: 240px;
  animation: pattern var(--duration) linear infinite;
  will-change: background-position;
}

@keyframes pattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 240px 240px;
  }
}

.top {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 480px;
  height: 620px;
  background: url(../assets/illus-t.svg) no-repeat;
}

.info,
img {
  align-self: center;
}

h2 {
  font: 300 64px/64px "Barlow Semi Condensed", sans-serif;
  color: #f97f9c;
  letter-spacing: -1px;
  margin-top: 0;
}

h1 {
  font: 600 72px/72px "Barlow Semi Condensed", sans-serif;
  letter-spacing: -1px;
  color: #6439ed;
  margin-bottom: 47px;
  position: relative;
}

p {
  font: 400 18px/32px "Barlow", sans-serif;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 24px;
  font-weight: 400;
}

p b {
  font-weight: 500;
}

img {
  justify-self: end;
  width: 580px;
  margin-right: -40px;
}

.links {
  font: 500 14px/32px "Barlow Semi Condensed", sans-serif;
  color: #6439ed;
  box-sizing: border-box;
  padding: 40px 58px;
  margin-top: 24px;
  display: block;
  width: 172px;
  height: 172px;
  background: url(../assets/links.svg) no-repeat;
  margin-left: -58px;
}

.links a,
.links a:active {
  color: #6439ed;
}

.mail {
  background-position-x: -172px;
}

.twitter {
  background-position-x: -344px;
}

.linkedin {
  background-position-x: -516px;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
}

.info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 32px 0;
  box-sizing: border-box;
}
