:root {
  --duration: 40s;
}

BODY {
  line-height: 1;
}

.blobs {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
.blobs DIV {
  position: absolute;
  width: 50%;
  height: 50%;
}
.blobs DIV:before {
  position: absolute;
  opacity: 0.12;
  content: "";
  display: block;
  will-change: transform;
}

@keyframes rotation-up {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  75% {
    transform: scale(1.1) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes rotation-down {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.9) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  75% {
    transform: scale(0.9) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.top-left {
  top: 0px;
  left: 0px;
}
.top-left:before {
  background: url(../assets/top-left.svg) no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 1200px;
  animation: rotation-down var(--duration) linear infinite;
  animation-delay: 250ms;
  animation-direction: reverse;
  will-change: transform;
}

.top-right {
  top: 0px;
  right: 0px;
}
.top-right:before {
  background: url(../assets/top-right.svg) no-repeat;
  background-size: 100%;
  width: 900px;
  height: 900px;
  animation: rotation-up var(--duration) linear infinite;
  animation-delay: 500ms;
  will-change: transform;
}

.bottom-left {
  bottom: 0px;
  left: 0px;
}
.bottom-left:before {
  background: url(../assets/bottom-left.svg) no-repeat;
  background-size: 100%;
  width: 900px;
  height: 900px;
  animation: rotation-up var(--duration) linear infinite;
  animation-direction: reverse;
  will-change: transform;
}

.bottom-right {
  bottom: 0px;
  right: 0px;
}
.bottom-right:before {
  background: url(../assets/bottom-right.svg) no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 1200px;
  animation: rotation-down var(--duration) linear infinite;
  animation-delay: 750ms;
  will-change: transform;
}

SECTION {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1092px;
  height: 620px;
  z-index: 1;
}

.illustration {
  position: absolute;
  top: 0;
  right: 0;
}

.shadow {
  position: absolute;
  top: 4px;
  right: -4px;
  display: block;
  width: 480px;
  height: 620px;
  background: url(../assets/illustration.svg) no-repeat;
  filter: blur(24px);
  opacity: 0.4;
}

.base {
  position: absolute;
  top: 0;
  right: 0;
  width: 480px;
  height: 620px;
  background: url(../assets/illustration-b.svg) no-repeat;
}

.waves {
  position: absolute;
  top: 320px;
  right: 120px;
  background: url(../assets/waves.svg) repeat;
  width: 240px;
  height: 240px;
  animation: pattern linear 20s infinite;
}

@keyframes pattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 240px 240px;
  }
}

.top {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 480px;
  height: 620px;
  background: url(../assets/illustration-t.svg) no-repeat;
}

.info,
IMG {
  align-self: center;
  margin-top: 60px;
}

h2 {
  font: 300 64px/64px "Barlow Semi Condensed", sans-serif;
  color: #f97f9c;
  letter-spacing: -1px;
  margin-bottom: 4px;
}

h1 {
  font: 600 72px/72px "Barlow Semi Condensed", sans-serif;
  letter-spacing: -1px;
  color: #6439ed;
  margin-bottom: 47px;
  position: relative;
}

h1:after {
  content: "";
  display: block;
  background: url(../assets/mini-blobs.svg) no-repeat;
  width: 38px;
  height: 52px;
  position: absolute;
  left: 326px;
  top: -19px;
}

p {
  font: 400 18px/32px "Barlow", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 32px;
  font-weight: 400;
}

p b {
  font-weight: 500;
}

IMG {
  justify-self: end;
  width: 580px;
  margin-right: -40px;
}

.links {
  font: 500 14px/32px "Barlow Semi Condensed", sans-serif;
  color: #6439ed;
  box-sizing: border-box;
  padding: 40px 58px;
  margin-top: 49px;
  display: block;
  width: 172px;
  height: 172px;
  background: url(../assets/links.svg) no-repeat;
  margin-left: -58px;
}

.links a,
.links a:active {
  color: #6439ed;
}

.mail {
  background-position-x: -172px;
}

.twitter {
  background-position-x: -344px;
}

.linkedin {
  background-position-x: -516px;
}

@media (min-width: 0px) {
  .top-left:before {
    bottom: -100px;
    right: 50px;
  }

  .top-right:before {
    bottom: 40px;
    left: 90px;
  }

  .bottom-left:before {
    top: 180px;
    right: 80px;
  }

  .bottom-right:before {
    top: 20px;
    left: -40px;
  }
}
