:root {
  --duration: 40s;
}

BODY {
  line-height: 1;
}

SECTION {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1092px;
  height: 620px;
  z-index: 1;
  will-change: transform;
}

.illustration {
  position: absolute;
  top: 0;
  right: 0;
}

.shadow {
  position: absolute;
  top: 4px;
  right: -4px;
  display: block;
  width: 480px;
  height: 620px;
  background: url(../assets/illus.svg) no-repeat;
  filter: blur(24px);
  opacity: 0.4;
  transform: translateZ(0);
  will-change: transform;
}

.base {
  position: absolute;
  top: 0;
  right: 0;
  width: 480px;
  height: 620px;
  background: url(../assets/illus-b.svg) no-repeat;
}

.waves {
  position: absolute;
  top: 320px;
  right: 120px;
  background: url(../assets/waves.svg) repeat;
  width: 240px;
  height: 240px;
  animation: pattern linear 20s infinite;
  will-change: background-position;
}

@keyframes pattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 240px 240px;
  }
}

.top {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 480px;
  height: 620px;
  background: url(../assets/illus-t.svg) no-repeat;
}

.info,
IMG {
  align-self: center;
  margin-top: 60px;
}

h2 {
  font: 300 64px/64px "Barlow Semi Condensed", sans-serif;
  color: #f97f9c;
  letter-spacing: -1px;
  margin-bottom: 4px;
}

h1 {
  font: 600 72px/72px "Barlow Semi Condensed", sans-serif;
  letter-spacing: -1px;
  color: #6439ed;
  margin-bottom: 47px;
  position: relative;
}

p {
  font: 400 18px/32px "Barlow", sans-serif;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 32px;
  font-weight: 400;
}

p b {
  font-weight: 500;
}

IMG {
  justify-self: end;
  width: 580px;
  margin-right: -40px;
}

.links {
  font: 500 14px/32px "Barlow Semi Condensed", sans-serif;
  color: #6439ed;
  box-sizing: border-box;
  padding: 40px 58px;
  margin-top: 49px;
  display: block;
  width: 172px;
  height: 172px;
  background: url(../assets/links.svg) no-repeat;
  margin-left: -58px;
}

.links a,
.links a:active {
  color: #6439ed;
}

.mail {
  background-position-x: -172px;
}

.twitter {
  background-position-x: -344px;
}

.linkedin {
  background-position-x: -516px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
